<ion-header>
  <ion-toolbar>
    <ion-title>Fly shcaik</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 style="text-align: center;">Register here</h4>

  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Lastname</ion-label>
    <ion-input [(ngModel)]="surname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contact number</ion-label>
    <ion-input type="number" [(ngModel)]="cell"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
    <!-- <ion-textarea type="password" [(ngModel)]="password"></ion-textarea> -->
  </ion-item>

  <ion-button expand="block" (click)="Register()">Register</ion-button>
</ion-content>
